*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin-inline: auto;
    max-width: 1440px;
}
.leftArea{
    position: relative;

}

.cardFront{
    background: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
    width: 447px;
    height: 245px;
    border-radius: 8px;
    position: absolute;
    top: 187px;
    left: 164px;
    animation: cardFront 1.6s ease-in-out forwards;
}
@keyframes cardFront{
    0%{
        left: -1000px;
    }
    100%{
        left: 164px;
    }
}
.cardSembol{
    position: absolute;
    left: 32px;
    top: 28px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.cardInside{
    position: absolute;
    width: 372px;
    & > h1{
        position: absolute;
        top: 139px;
        left: 32px;
        display: flex;
        align-items: center;
        font-size: 28px;
        font-weight: 500;
        line-height: 35.73px;
        letter-spacing: 3.422222137451172px;
        text-align: left;
        color: white;
    }
}
.userDate{
    position: absolute;
    width: 383px;
    top: 200px;
    left: 32px;
    justify-content: space-between;
    display: flex;
    color: white;
}
.cardBack{
    position: absolute;
    top: 469px;
    left: 258px;
    animation: cardBack 1.2s ease-in-out forwards;
}
@keyframes cardBack{
    0%{
        left: -1000px;
    }
    100%{
        left: 258px;
    }
}
.cardBackText{
    position: absolute;
    top: 111px;
    left: 358px;
    & > p{
        color: white;
    }
}
.formArea{
    position: absolute;
    width: 381px;
    height: 352px;
    top: 275px;
    left: 832px;
    animation: yukariForm 1s ease-in-out forwards;
}
@keyframes yukariForm{
    0%{
        top: -1000px;
    }
    100%{
        top: 275px;
    }
}
#myForm{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.inputBig{
    width: 381px;
    border-radius: 8px;
    height: 45px;
    border: 1px solid #DFDEE0;

}
.first{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.littleInput{
    width: 80px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #DFDEE0;


}
.dateDiv{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.cardDate{
    display: flex;

    gap: 10px;
}
.ortancaInput{
    width: 191px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #DFDEE0;

}
.yeter{
    display: flex;
    gap: 10px;
}
.btn{
    width: 381px;
    height: 53px;
    background: #21092F;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.3s;
    transition: transform 0.3s ease-in-out;
}
.btn:hover{
    box-shadow: 0px 0px 10px 0px #21092F;
    transform: scale(1.1);
}

.allInputs{
    transition: box-shadow 0.9s;
}
.allInputs:hover{
    box-shadow: 0px 0px 10px 0px #21092F;
}